/* --- HEAD ---*/




div.relative {
    position: relative;
}

/* --- TOP MENU --- */



ul.left {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 1024px;
    overflow: hidden;
    background-color: #333;
}

li.left {
    float: left;
}

li.left a {
    display: block;
    color: white;
    position: relative; left: 200px;
    text-align: center;
    padding: 25px 14px;
    text-decoration: none; 
}

li.left a:hover {
    background-color: #111;
}


li.right {
    float: right;
    display: inline-block;
}

li.right a {
    display: block;
    color: white;
    position: relative; right: 200px;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}


li.right a:hover {
    background-color: #111;
}

/* --- PORTFOLIO --- */
.background-port {
    position: relative;
    top: 0;
    left: 0;
}


/* --- ABOUT ME --- */

.about-me {
    position: relative;
    background-color:#2eb398;
    width: 1024px;
    margin: 0;
    padding: 0;
    height: 320px;
    top: 0;
    left: 0;
}

.image-me {
    position: absolute;
    left: 90px;
    top: 25px;
}


div.tekst-about-me {
    position: absolute;
    color: white;
    text-align: inherit;
    font-size: 12px;
    top: 60px;
    left: 300px;
    height: 250px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: inherit;
}


/* --- Concact --- */


img.background-concact {
    width: 100%;
    top: 0;
    left: 0;
    
}





img.background-footer {
    
    top: 0;
    left: 0;
    position: relative
        
}